@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* reset básico - Seletor asterisco (*) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * :root - pseudo classe CSS, representa  elemento <html>
 * https://developer.mozilla.org/pt-BR/docs/Web/CSS/:root
 * https://www.w3schools.com/css/css3_variables.asp 
 */
:root {
  --color-first: #ffffff;
  --color-second: #000000;
  --color-third: #db2a4e;
  --color-fourth: rgb(13, 9, 51);
}

html {
  /* caniuse.com */
  scroll-behavior: smooth; /* rolagem da página ao clicar no link */
}

body {
  font-family: "Poppins", sans-serif;
}

/* formatações genéricas */
ul,
ol {
  /* tirando os marcadores das listas */
  list-style: none;
}

a {
  /* tirando o underline dos textos */
  text-decoration: none;
  color: var(--color-first);
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #888; */
  position: fixed;
  top: 0;
  left: 0;

  /** todo elemento possui z-index: 0
   *  colocando z-index: 1 ninguém ficará na frente 
   *  ou seja, z-index maior fica na frente 
   *  z-index trata a profundidade */
  z-index: 1;
  transition: 0.5s; /* transição para exibir o menu fixado ao rolar a página */
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin: 0 30px;
}

.nav-menu a {
  transition: 0.5s;
}

.nav-menu a:hover {
  color: var(--color-third);
}

/**
 * botão contato + botão principal
 */
.btn {
  background-color: var(--color-third);
  color: var(--color-first);
  padding: 5px 30px;
  border-radius: 30px;
  font-weight: 700;
  border: 1px solid var(--color-third);
  transition: 0.5s;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-third);
}

.menu-btn {
  cursor: pointer;
  font-size: 30px;
  /* color: var(--color-second); */

  /**
   * position: static;
   * default
   *
   * position: absolute;
   * usa o elemento pai como referência quando o pai possui referência de posição definida, 
   *    ou o body caso o pai não possua referência de posição definida
   * no exemplo, ele usa body como referência de posição
   */
  position: absolute;
  top: 25px;
  right: 30px;
  display: none !important;
  color: var(--color-first);
}

.active-scroll {
  /**
 * quando ocorrer scrool de tela o menu mudará sua cor de fundo
 */
  background-color: rgba(3, 2, 16, 0.863);
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url(../images/pexels-felix-mittermeier-957002.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  margin: 150px 0;
  color: var(--color-first);
  text-align: center;
}

.header-content h2 {
  margin: 50px 0px;
  font-size: 8vmin; /* 8% do viewport (viewport mínimo) */
}

.header-content h3 {
  margin: 50px 0px;
  font-size: 5vmin; /* 5% do viewport (viewport mínimo) */
}

.logo {
  color: var(--color-first);
}

/**
 * para container geralmente são definidas as seguintes propriedades:
 * margin
 * padding
 * alinhamento de texto
 * flex
 * width
 * height
 */

.tour {
  width: 80%;
  margin: 70px auto;
  /* background-color: #888; */
}

.tour-title {
  text-align: center;
  font-size: 4vmin;
  margin-bottom: 40px;
}

.line {
  width: 150px;
  background-color: var(--color-third);
  height: 4px;
  border-radius: 7px;
  margin: 40px;
}

.tour-list {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  align-items: center; /* alinhamento vertical */
  justify-content: space-evenly; /* distribuição horizontal */
  /* flex-direction: row;  */
  flex-wrap: wrap; /* respeita o tamanho do container e quebra */
}

.tour-list-item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.3);
  padding: 40px 10px;
  border-radius: 7px;
}

.tour-list-item img {
  width: 90%;
  border-radius: 7px;
  transition: 0.5s;
}

.tour-list-item img:hover {
  transform: scale(1.03); /* aumento de 20% */
  cursor: pointer;
}

.tour-list-item h3 {
  font-size: 3vim;
  margin: 40px auto 20px;
}

.tour-list-item p {
  padding: 0 50px;
  margin-bottom: 30px;
  text-align: center;
}

.explore {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url(../images/pexels-kleber-m-ortiz-4028995.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  display: flex;
  align-items: center;
  /* justify-content: center;   */
}

.explore-content {
  width: 60%;
  padding: 50px;
  color: var(--color-first);
}

.explore-content h2 {
  font-size: 7vmin;
}

.explore-content .line {
  width: 60%;
  margin: 40px 0;
}

.explore-content p {
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 30px;
}

/**
 * Eventos
 */

.eventos {
  width: 90%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  margin: 50px auto;
  padding: 40px 50px;
  border-radius: 7px;
  /* background-color: #ccc; */
  justify-content: space-between;
}

.eventos-content {
  width: 47%;
  margin: 10px;
  font-weight: 500;
  line-height: 30px;
  /* background-color: #888; */
  text-align: center;
  /* height: 50vh; */
  vertical-align: center;
  align-items: center;
}

.eventos-content h3 {
  margin: 40px;
  font-size: 2vim;
}

.eventos-content p {
  margin: 40px;
  text-align: left;
}

.eventos-content-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.eventos-content-item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  /* box-shadow: 0 3px 16px rgba(0, 0, 0, 0.3); */
  padding: 10px 0px;
  border-radius: 7px;
}

.eventos-content-item img {
  width: 90%;
  border-radius: 7px;
  transition: 0.5s;
}

.eventos-content-item img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.rodape {
  background-color: var(--color-second);
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-wrap: wrap;
  color: var(--color-first);
}

.rodape-bloco {
  margin: 80px 40px;
}

.rodape-bloco p {
  font-weight: 800;
}

.rodape-bloco .line {
  height: 2px;
  width: 20vh;
  margin: 10px 0px;
}

.rodape-nav li {
  margin: 5px 0px;
}

.rodape-bloco i {
  cursor: pointer;
  font-size: 30px;
  color: var(--color-first);
  padding: 0 10px;
}

/**
 * media query
 * responsivo
 * só funcionará para telas de até 650px
 */
@media (max-width: 850px) {
  .menu-btn {
    display: block !important;
  }

  .nav-bar {
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: var(--color-fourth);
    margin-top: -1100px;
    /* transition: 0.5s; */
  }

  .mobile-menu {
    margin-top: 0;
  }

  .nav-menu li {
    margin: 30px auto;
  }

  .nav-menu a {
    font-weight: 900;
    text-transform: uppercase;
  }

  .tour-list {
    flex-direction: column;
  }

  .tour-list-item {
    width: 100%;
  }

  .explore-content {
    width: 100%;
  }

  .eventos {
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }

  .eventos-content {
    width: 100%;
    align-items: center;
  }

  .eventos-content h3 {
    text-align: center;
  }

  .eventos-content p {
    text-align: center;
  }

  .rodape {
    flex-direction: column;
    padding: 80px 0;
  }

  .rodape-bloco {
    margin: 40px 100px;
  }

  .rodape-bloco .line {
    height: 2px;
    width: 100%;
    margin: 10px 0px;
  }
}

@media (max-width: 650px) {
  .header-content h2 {
    padding: 0 10px;
  }
}
