.gridHeader {
    margin-top: -5px !important;
    margin-bottom: 10px;
}

.leftHeader {
    text-align: left;
    margin-top: 40px;
}

.rightHeader {
    justify-content: flex-end;
    align-items: center;
}

.headerUserLogoInfo {
    height: 40px;
    width: 40px;
    background-color: #F87C23;
    border-radius: 50px;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
}

.iconFont {
    font-size: 22px !important;
    margin-top: 7px !important;

}

.logoutButton {
    cursor: pointer;
    margin-top: 0px;
    line-height: 14px;
}