.App {
  text-align: center;
  font-size: 28px;
  color: #ed145b;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;  
}



p {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  text-align: justify;
}